[submodule "thirdparty/UnityStudioLib"]
	path = thirdparty/UnityStudioLib
	url = https://github.com/OpenMLTD/UnityStudioLib.git
[submodule "thirdparty/piyopiyo"]
	path = thirdparty/piyopiyo
	url = https://github.com/hozuki/piyopiyo
[submodule "thirdparty/MilliSim"]
	path = thirdparty/MilliSim
	url = https://github.com/hozuki/MilliSim.git
[submodule "thirdparty/YamlDotNet.DataContract"]
	path = thirdparty/YamlDotNet.DataContract
	url = https://github.com/hozuki/YamlDotNet.DataContract
